/* style.css */
#map {
  height: 400px;
  width: 100%;
}
#info, #storeStatus {
  margin-top: 10px;
  font-size: 16px;
}
.button {
  padding: 10px 20px;
  font-size: 16px;
}
label {
  margin-right: 10px;
}
.store {
  margin-bottom: 5px;
}
